:root {
  --map-tile-url: "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png";
}

@media (prefers-color-scheme: dark) {
  :root {
    --map-tile-url: "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png";
  }

  /* Force dark mode styles */
  .leaflet-popup,
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background: #4e1921 !important; /* Pink background */
    color: white !important; /* Ensure white text */
    border-radius: 6px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
  }
}

* {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

/* Default styles */
.leaflet-popup,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #202020; /* Default dark background */
  color: #fff !important;
  border-radius: 5px !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06) !important;
}
