  h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    border-bottom: 2px solid #b1b1b1;
    padding-bottom: 5px;
    text-align: center;
  }

  .product-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 20px;
  }

  .product-nav a {
    text-decoration: underline;
    color: #0505ff;
    transition: color 0.3s ease;
    font-weight: 500;
  }

  .product-nav a:hover {
    color: #4B0082;
    font-weight: 800;
    text-decoration: underline;
  }

.product {
    background: #f8f9fa;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  
  .product p {
    font-size: 1.3rem;
    margin: 5px 0;
  }
  
