@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  font-family: "Manrope", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 1.3em;
}

.tech-container {
  background-color: #efefef; /* Slightly darker than white */
  min-height: 100vh;
  padding: 20px;
}

nav {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tech-heading {
  font-size: 3rem; /* Bigger H2 for mobile */
  letter-spacing: -0.9px;
}

.tech-title {
  text-align: center;
  font-size: 2rem;
  color: #212121;
}

.tech-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px; /* Adds spacing between cards */
}

.tech-card {
  background: #fff;
  padding: 16px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.tech-heading {
  font-size: 1.7rem;
  color: #393939;
  display: flex;
  align-items: center; /* Align icon with text */
}

.tech-description {
  font-size: 1.3rem;
  color: #424242;
  font-weight: 500;
}

.tech-link a {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none; /* Dashed underline for links */
  color: #0505ff; /* Default blue for links */
}

.tech-link a:hover {
  color: #4B0082;
  font-weight: 800;
  text-decoration: underline; /* Underline on hover */
}

.icon-style {
  font-size: 1.5rem;
  margin-right: 10px; /* Space between icon and text */
  color: #424242; 
  filter: contrast(0.8);
}

/* Adjust sizes for mobile */
@media (max-width: 768px) {
  .tech-title {
    font-size: 2rem; /* Bigger H1 for mobile */
  }

  .tech-description {
    font-size: 1.4rem; /* Larger paragraph text */
  }

  .icon-style {
    font-size: 3.5rem; /* Bigger icons */
  }

  .tech-container {
    margin-top: -4px;
  }
  .tech-heading {
    font-size: 1.8rem;
  }
}
