@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  font-family: "Manrope", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 2rem;
  color: #222;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2.3rem; /* Bigger H1 for mobile */
  }

}
